
.table-responsive {
  overflow-x: auto;
  
  
}

.container {
  margin: 20px auto;
  background-image: url('../resourses/2.png');
  
}

table {
  border-collapse: collapse;
  width: 100%;
  
  border: 1px solid;
 
 
    
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color:   #f77fa5; 

}

.btn {
  cursor: pointer;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
}

.btn-warning {
  background-color: #f0ed48;
  color: #212529;
}

.btn-warning:hover {
  background-color: #fcbd00;
}

.package-list {
    background-color: rgb(250, 244, 245);
  }
  
