/* Srushti */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');


* {
    padding: inherit;
    margin: initial;
    font-family: 'Roboto Slab', serif;
}

body{
    background-color: white;
}

.bg-vendor {
    background-image: url("../resourses/vendor-bg.jpg");
    background-position: center center;
    background-size: max(80vw, 120vw);
   
    position: relative;
    background-repeat: no-repeat;
}

.addplan{
    border-radius: 5px;
    padding: 10px;
    width: 80%;
    max-width: 600px;
}

.heading {
    background-color: #ffcab0;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.plantitle, .planprice, .plandesc {
    font-weight: bolder;
    font-size: large;
    border-width: 0cap;
    box-shadow: none;
  }


.que {
    font-size: 24px;
    color: #b72d54;
    font-weight: bolder;
}

.bg-vendor {
    background-image: url("../resourses/vendor-bg.jpg");
    background-position: center center;
    background-size: max(80vw, 120vw);
   
    position: relative;
    background-repeat: no-repeat;
}